/* Importing the Roboto font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Reset for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Body background */
body {
  background-color: #848181;
}


/* Accordion button */
.accordion {
  background-color: #4b92db;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

/* Icon inside accordion */
.accordion i {
  font-size: 1.9rem;
}

/* Hover and active state */
.active,
.accordion:hover {
  background-color: #ff8200;
}

/* FAQ section container */
.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

/* Remove border when open */
.faq.active {
  border: none;
}

/* Panel container (with animation) */
.pannel {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 2rem;
  background-color: #ff8200;
  transition: max-height .3s ease, opacity .3s ease, padding 0.3s ease;
}

/* Panel visible state */
.pannel.open {
  max-height: 500px;
  opacity: 1;
  padding: 2rem;
}

/* Panel paragraph */
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}
